@import 'vars';

.footer {
  height: 100px;
  width: 100%;
  background: $--hospital-green;
  color: $--white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
}
